<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/cloud.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Oluwatobi Ayeni.It uses data from mapbox.com and weatherstack  </p>
         <img class="portrait" src="/img/tryout.jpg">
    </div>
    
    {{>footer}}
   
</body>

</html>